body 
{
	text-align:center;
	background-image: url(/images/sports2.png)
}

.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:yellow;
	text-align:center;
	padding:5px;
}

.links {
	padding-left:40px;
}

.menu{
	padding-top:50px;
}

.form-group{
	font-family: Helvetica;
	text-align: right;
	margin-right: 550px;
}

.form-group2{
	font-family: Helvetica;
	text-align: center;	
}

.form-group3{
	font-family: Helvetica;
	margin-right: 125px;
	
}